* {
  font-family: "sans-serif";
}

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
}

#mainpanel {
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  padding-top: 2px;
  width: 500px;
  text-align: center;
  border: 3px solid #005a9b;
}

#opnropanel input {
  font-size: 2em;
  margin-bottom: 10px;
  padding: 2px;
}

#submits button {
  vertical-align: middle;
  font-size: 2em;
  margin-left: 10px;
  margin-right: 10px;
}

noscript {
  background: red;
  color: white;
  font-weight: bold;
  font-size: 1.1em;
  padding: 5px;
}

#submitnagger {
  color: red;
  font-weight: bold;
  margin: 5px;
}

#submits.error button, input.error, button.error {
  border: 1px solid red;
}
#location {
  height: 20px;
}
#location span.loc {
  font-weight: bold;
}
#location-change {
  font-weight: normal;
  font-size: smaller;
}
#statusdata {
  color: #aaa;
  font-size: smaller;
  height: 20px;
  display: inline-block;
  vertical-align: center;
}
#ajaxerror {
  color: red;
  font-size: smaller;
  font-weight: bolder;
  display: inline-block;
}