<!DOCTYPE HTML PUBLIC "-//w3c//dtd html 4.01//en"
   "http://www.w3.org/tr/html4/strict.dtd">
<html>
   <head>
      <title>Äänioikeden tarkastusjärjestelmä</title>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <link rel="stylesheet" type="text/css" href="../media/css/aanikone.css">
      <script type="text/javascript" src="../media/js/jquery.js"></script>
      <script type="text/javascript" src="../media/js/aanikone.js"></script>
   </head>
   <body>
     <div id="mainpanel">
       <noscript>Javascript vaaditaan tällä sivulla!</noscript>
       <h1>Syötä opiskelijanumero</h1>
       <div id="opnropanel">
         <input type="text" id="opnrofield" name="opnro" disabled="disabled" size="7">
       </div>
       <span id="submitnagger">Valitse oppilaitos!</span>
       <div id="submits">
         <button type="button">
           <img alt="TYY:n logo" src="../media/img/tyylogo_small.jpg">
           TYY
         </button>
         <button type="button">
           <img alt="TuKY:n logo" src="../media/img/tukylogo_small.jpg">
           TuKY
         </button>
       </div>
       <div id="logindata">
         <p>Olet kirjautunut nimellä Jyrki
           Pulliainen. <a href="./logout/">Kirjaudu ulos</a>
         </p>
       </div>
     </div>
   </body>
</html>
