<!DOCTYPE HTML PUBLIC "-//w3c//dtd html 4.01//en"
   "http://www.w3.org/tr/html4/strict.dtd">
<html>
   <head>
     <title>Äänioikeuden tarkastusjärjestelmä</title>
     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
     <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL}}css/aanikone.css">
     <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.js"></script>
     <script type="text/javascript" src="{{ MEDIA_URL }}js/aanikone.js"></script>
   </head>
   <body>
     <div id="mainpanel" class="panel">
       <div id="location">
         Äänestyspiste:
         <span class="loc"></span>
         <select name="place">
           <option value="">-- valitse äänestyspiste --</option>
           {% for location in places %}
           <option value="{{ location.id }}">{{ location.name }}</option>
           {% endfor %}
         </select>
         <span id="location-change">
           (<a href="javascript:;">vaihda</a>)
         </span>
       </div>
       <noscript>Javascript vaaditaan tällä sivulla!</noscript>
       <h2>Äänioikeuden tarkastaminen</h2>
       <span id="statusdata">Syötä opiskelijanumero</span>
       <span id="ajaxerror">
         Virhe tapahtui! Mikäli tämä toistuu, ota yhteyttä päivystäjään!
         (<a href="javascript:;">piilota</a>)
       </span>
       <div id="opnropanel">
         <input type="text" id="opnrofield" name="number" disabled="disabled" size="7">
       </div>
       <span id="submitnagger">Valitse oppilaitos!</span>
       <div id="submits">
         <button type="button" id="utu.fi" name="organization">
           <img alt="TYY:n logo" src="../media/img/tyylogo_small.jpg">
           TYY
         </button>
         <button type="button" id="tukkk.fi" name="organization">
           <img alt="TuKY:n logo" src="../media/img/tukylogo_small.jpg">
           TuKY
         </button>
       </div>
       <div id="logindata">
         <p>
           Olet kirjautunut nimellä {{ user.first_name }} {{ user.last_name }}
           ({{ user.username }}) <a href="./logout/">Kirjaudu ulos</a>
         </p>
       </div>
     </div>
     <div id="voterspanel" class="panel">
       <h4>Liput ulkona tältä äänestyspisteeltä:</h4>
     </div>
     <img id="ajax-loader" src="{{ MEDIA_URL }}img/ajax-loader.gif" alt="">
   </body>
</html>
